@import "tailwindcss";

@theme {
    --text-base: 0.95rem;
}

@theme inline {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

@layer base {
    * {
        color-scheme: dark;
        scrollbar-width: thin;
        scrollbar-color: rgb(255, 185, 0, 0.3) #0c0900;
    }
}

@utility tag {
    @apply px-2 py-0.5 font-mono text-xs text-nowrap tracking-tighter rounded-full select-none;
}
