@import "tailwindcss";

@theme {
    --text-base: 0.93rem;
}

@theme inline {
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
}

* {
    color-scheme: dark;
    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 185, 0, 0.23) #0c0900;
}

h1 {
    @apply font-bold tracking-tighter text-center text-[4.3rem] xl:text-7xl 2xl:text-8xl text-transparent bg-clip-text bg-linear-to-b from-amber-300 to-amber-950/30 select-none;
}

.tag {
    @apply px-2 py-0.5 font-mono text-nowrap tracking-tighter text-xs rounded-full select-none;
}
